<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js mit Jinja-Template</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div id="app">
    <h1>Data Science Projekt</h1>
    <button class="bg-blue-100" v-on:click="sortTable">Sortiere nach Name</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(person, index) in sortedArray" :key="index">
            <td>{% raw %}{{ index + 1 }}{% endraw %}</td>
            <td> {% raw %}{{ person }}{% endraw %}</td>
          </tr>
  
      </tbody>
    </table>
  </div>

  
  <script>
    const app = Vue.createApp({
        data() {
            return {
                array: {{ employee_array | tojson }},
                ascending: true,
            };
        },
        computed: {
          sortedArray() {
            if (this.ascending) {
              return this.array.slice().sort();
            } else {
              return this.array.slice().sort().reverse();
            }
          },
        },
        methods: {
          sortTable() {
            this.ascending = !this.ascending;
          },
        },
    });

    app.mount('#app');
    </script>
</body>

</html>


