<!DOCTYPE html>
<html>
<head>
    <title>Vue.js mit Jinja-Template</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- Vue.js Anwendung über die raw tags einbinden -->
        {% raw %}{{message}}{% endraw %}
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!'
                };
            }
        });

        app.mount('#app');
    </script>
</body>
</html>

